step-function/local/state-machine/state-machine.asl.json
{
  "Comment": "A State Machine that process a video file",
  "StartAt": "CheckPath",
  "States": {
    "CheckPath": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "path1/*.csv",
          "Next": "RunFileInPath1"
        },
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "path2/*.csv",
          "Next": "RunFileInPath2"
        }
      ],
      "Default": "NoManagedFile"
    },
    "RunFileInPath1": {
      "Type": "Pass",
      "Parameters": {"date": "2021-11-11"},
      "Next": "RunReport"
    },
    "RunFileInPath2": {
      "Type": "Pass",
      "Parameters": {"date": "2022-02-22"},
      "Next": "RunReport"
    },
    "RunReport": {
      "Type": "Pass",
      "End": true
    },
    "NoManagedFile": {
      "Type": "Pass",
      "End": true
    }
  }
}