step-function/local/without-lambdas/state-machine/state-machine.asl.json
{
  "Comment": "A State Machine that process a video file",
  "StartAt": "CheckPath",
  "States": {
    "CheckPath": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "path1/*.csv",
          "Next": "run-file-in-path-1"
        },
        {
          "Variable": "$.detail.object.key",
          "StringMatches": "path2/*.csv",
          "Next": "run-file-in-path-2"
        }
      ],
      "Default": "NoManagedFile"
    },
    "run-file-in-path-1": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:run-file-in-path-1",
      "Next": "run-report"
    },
    "run-file-in-path-2": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:run-file-in-path-2",
      "Next": "run-report"
    },
    "run-report": {
      "Type": "Pass",
      "End": true
    },
    "NoManagedFile": {
      "Type": "Pass",
      "End": true
    }
  }
}